@charset "UTF-8";

*
        {
          margin: 0;
          padding: 0;
          font-family: Arial, Helvetica, sans-serif;

        }
        
        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        img {
            width: 100vw;
            
        }

        a {
            display: block;
            background-color: rgb(30, 30, 179);
            padding: 20px;
            color: white;
            text-decoration: none;
            font-weight: bolder;
            text-align: center;
            
        }

        a:hover {
            background-color: blue;
        }